.adminTitle {
    padding-top: 85px;
}

.container {
    display: flex;
    justify-content: center;
}

.listSeparator {
    width: 5px;
}

.container-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.advertPaperButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}