div.searchBar {
    width: 700px;
    height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar input#searchField {
    display: inline-flex;
    border-radius: 8px;
    text-align: left;
    padding: 0px 4px 0px 4px;
    width: 89%;
}

.searchBar button {
    height: 30px;
    width: 8%;
    border: 0.5px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.paperTitleAndDate h1,
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.paperTitleAndDate {
    margin-top: 10px;
}

iframe {
    width: 99%;
    height: 86%;
}

div#modalTopBar {
    display: flex;
    height: min-content;
}

div#modalTopBar h3 {
    margin: auto;
    margin-top: 1.5vw;
    text-align: center;
    padding-left: 40px;
}

div#modalTopBar span {
    font-weight: 800;
    font-size: 45px;
    padding-right: 1vw;
    padding-bottom: 0.5vw;
    cursor: pointer;
    transition: 0.3s;
}

div#modalTopBar span:hover {
    opacity: 0.7;

}

.HeartButtonEmpty {
    background-image: url('./TomtHjerte.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-color: white;
    border: none;
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    float: left;
    height: 30px;
}
.HeartButtonFull {
  background-image: url('./FulltHjerte.png');
  background-size: contain; 
  background-repeat: no-repeat; 
  background-color: white;
  border: none;
  color: white; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
  float: left;
  height: 30px;
}
