div.searchBar {
    width: 700px;
    height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar input#searchField {
    display: inline-flex;
    border-radius: 8px;
    text-align: left;
    padding: 0px 4px 0px 4px;
    width: 89%;
}

.searchBar button {
    height: 30px;
    width: 8%;
    border: 0.5px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 0;
}

.css-h4y409-MuiList-root {
    padding-top: 0px;
}