.form-content {
    margin-top: 100px;
}

.form-content form {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

.inputElement {
    display: block;
    text-align: left;
    align-items: center;
    width: 100%;
    padding: 2%;
}

.testBox {
    width: 500px;
}

.flexboks {
    display: flex;
    flex-direction: column;
    align-items: left;
}

h2 {
    font-size: 1.75rem;
    color: #013e87;
}

.tittelInputElementFlexboks label,
.beskrivelseInputElementFlexboks label {
    padding-bottom: 2%;
    padding-top: 5%;
    width: fit-content;
}

div.tittelInputElementFlexboks,
div.beskrivelseInputElementFlexboks {
    height: fit-content;
}

input#tittel {
    width: 500px;
    border-width: 1px;
    text-align: left;
    font-family: monospace;
}

.checkboxes label {
    width: fit-content;
    padding-bottom: 0;
}

div.annonseEttersporselInputElementFlexboks {
    width: 100%;
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.annonseEttersporselInputElementFlexboks label {
    padding-top: 0%;
    padding-bottom: 1%;
}

.annonseEttersporselInputElementFlexboks div {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.annonseEttersporselInputElementFlexboks input[type=radio] {
    margin: 5px;
}

.form-content button,
input[type='radio'],
input[type='checkbox'] {
    cursor: pointer;
}