.form-content{
    margin-top: 100px;
}
.form-content form{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
}
.inputElement{
    display: block;
    text-align: left;
    align-items: center;
    width: 100%;
    padding: 2%;
}
.testBox{
    width: 500px;
}
.flexboks{
    display: flex;
    flex-direction: column;
    align-items: left;
}
h1{
    text-align: center;
}

.tittel {
    width: 400px;
}

input#tittel {
    width: 500px;
    border-width: 1px;
}

.form-content label {
    padding-bottom: 3%;
    padding-right: 100%;
}

.form-content {
    
}