 div.myAdvertsPaperContainer {
     margin-top: 100px;
 }

 .advertPaperButtons {
     margin: auto;
     width: 60%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .advertPaperButtons button {
     border-radius: 8px;
     margin: 10px 5px 10px 5px;
     width: 50%;
     cursor: pointer;
 }

 .myAdsTitle {
     margin-top: 100px;
     text-align: center;
 }

 div#pageWrapper {
     margin-top: 76.5px;
 }

 h2.pageHeading {
     margin-top: 76.5px;
     margin-bottom: 32px;
 }

 h2#myAdvertsHeading {
     padding-top: 25px;
 }